<div class="container">
  <div class="row mb-5">
    <div class="col-8 p-0 mx-auto shadow main-visual text-center">ようこそ、star pianoへ！</div>
  </div>

  <div class="row mb-5">
    <h2 class="text-center">新着申込み一覧</h2>&emsp;
    <p><%= link_to "一覧を開く", teacher_lessons_path, class: "btn btn-success"%></p>
  </div>

</div>